.woocommerce-breadcrumb {
  background-color: white;
  color: black;
  font-size: 18px;
  font-weight: bold !important;
  text-align: center;
  padding: 15px;
  margin: 0;
  letter-spacing: 0.1em;

  a {
    font-family: 'romana', sans-serif !important;
    color: black;
    text-decoration: none;
    font-weight: bold !important;

    &:first-of-type:before {
      display: none;
    }
  }

  @media (min-width: $desktop) {
    margin-bottom: 0;
    padding: 30px;
  }
}

.archive .col-full > .woocommerce-breadcrumb,
.woocommerce-checkout .woocommerce-breadcrumb,
.woocommerce-cart .woocommerce-breadcrumb,
.blog .woocommerce-breadcrumb {
  display: none;
}

.yoast-breadcrumb {
  span {
    font-family: $font-family-serif;
    font-weight: bold !important;
  }
}

.single-product {
  // hide the original nav. it's replaced by the yoast nav.
  nav.woocommerce-breadcrumb {
    display: none;
  }
  .woocommerce-breadcrumb {
    font-size: 14px;
  }

  @media (max-width: $desktop - 1) {
    .woocommerce-breadcrumb {
      display: none;
    }
  }
}