.navigation-cart {
  display: none;
  position: absolute;
  right: 0;
}

// Desktop Shopping Cart Hover
.widget_shopping_cart {
  .site-header & {
    z-index: 20;
    max-width: 360px;
    background-color: white;
    border: 2px solid black;
    font-size: 14px;
    letter-spacing: 0.1em;
    padding: 25px;
    position: relative;
    top: 25px;

    .product_list_widget {
      max-height: 240px;
      overflow: scroll;
    }

    &:before {
      content: 'Your Bag';
      font-size: 1em;
      font-family: "relative-bold",sans-serif !important;
      text-align: left;
      display: block;
      line-height: 1;
      padding-bottom: 1em;
      border-bottom: 2px solid black;
    }

    .mini_cart_item {
      text-align: left;
      padding: 20px 0;
      font-size: 1em;
      line-height: 1;

      .remove {
        display: none;
      }

      a:nth-child(2) {
        display: block;
        margin-bottom: 1em;
      }

      .size-shop_thumbnail {
        float: left;
        margin-right: 2em;
        margin-left: 0;
        width: 100px;
        max-width: 100px;
      }

      .variation {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 1em !important;

        dt, dd {
          display: inline-block;
          margin: 0;

          p {
            font-family: $font-family-sans-serif;
            font-size: inherit;
            margin-bottom: 1em;
          }
        }
      }
    }

    .cart-numbers {
      border-top: 2px solid black;
      padding-top: 1em;

      p {
        @include clearfix;
        border-bottom: none;
        padding: 0 !important;
        font-size: 1em;
        font-family: $font-family-sans-serif;

        strong {
          float: left;
        }

        span {
          float: right;
        }
      }
    }

    .buttons {
      padding: 1em 0 0 0 !important;

      .button {
        &:first-child {
          border: 2px solid black;
        }
      }
    }
  }
}