.cart-empty-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.mobile-navigation-wrapper {
  .navigation-cart {
    position: fixed;
    top: 15px;
    right: 15px;

    .widget {
      margin: 0;
    }
  }
}

.navigation-cart {
  display: none;
  position: absolute;
  right: 0;

  @media (max-width: $desktop - 1) {
    top: 0;
  }

  @media (min-width: $desktop) {
    right: -30px;
    top: 36px;
  }

  &__content {
    position: relative;
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 100;
  }
}

.added-to-cart {
  padding-top: 8px;
  padding-bottom: 8px;
}

.single_add_to_cart_button {
  @media (min-width: $desktop) {
    max-width: 240px;
  }
}

// Desktop Shopping Cart Hover
.widget_shopping_cart {
  .site-header & {
    z-index: 20;
    background-color: white;
    border: 2px solid black;
    font-size: 14px;
    letter-spacing: 0.1em;
    padding: 25px;
    font-family: $font-family-book;
    font-weight: normal;
    width: 100%;
    max-width: 360px;

    // @media (min-width: $handheld) {
    //   max-width: 360px;
    // }
    

    @media (min-width: $desktop) {
      position: relative;
      width: 360px;
    }

    .product_list_widget {
      max-height: 240px;
      overflow: scroll;
      font-family: $font-family-book;
      font-weight: normal;
    }

    &:before {
      content: 'Your Bag';
      font-size: 18px;
      font-family: $font-family-sans-serif;
      text-align: left;
      display: block;
      line-height: 1;
      padding-bottom: 1em;
      border-bottom: 2px solid black;
    }

    .mini_cart_item {
      text-align: left;
      padding: 20px 0;
      font-size: 1em;
      line-height: 1;
      font-family: $font-family-book;
      font-weight: normal;

      .remove {
        display: none;
      }

      a {
        color: black;
        font-family: $font-family-book;
        font-weight: normal;

        &:nth-child(2) {
          display: block;
          margin-bottom: 1em;
        }
      }

      .size-shop_thumbnail {
        float: left;
        margin-right: 2em;
        margin-left: 0;
        width: 100px;
        max-width: 100px;
      }

      .variation {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 1em !important;
        font-family: $font-family-book;
        font-weight: normal;

        dt, dd {
          display: inline-block;
          margin: 0;
          font-family: $font-family-book;
          font-weight: normal;

          p {
            font-size: inherit;
            font-family: $font-family-book;
            margin-bottom: 1em;
          }
        }
      }
    }

    .cart-numbers {
      border-top: 2px solid black;
      padding-top: 1em;

      p {
        @include clearfix;
        border-bottom: none;
        padding: 0 !important;
        font-size: 1em;
        font-family: $font-family-sans-serif;
        text-align: right;

        strong,
        > span {
          float: left;
          width: 50%;
        }

        strong {
          text-align: left;
        }

        > span {
          text-align: right;
          display: inline-block;
          width: 50%;
        }

        &.total {
          color: $accent-color;
        }
      }
    }

    .buttons {
      padding: 1em 0 0 0 !important;

      .button {
        @extend %button;

        &.checkout {
          @extend %button--primary;
        }
      }
    }
  }
}

.wc-forward:after, .woocommerce-Button--next:after {
  display: none;
}