// General Cart Everywhere
table.cart {
  width: 100%;
  margin-bottom: 30px;
  letter-spacing: 0.1em;
  table-layout: fixed;

  @media (min-width: $desktop) {
    table-layout: initial;
  }

  &, a, p {
    font-family: $font-family-book;
    color: black;
    font-size: 14px;
    font-weight: normal;
  }

  thead {
    tr {
      th {
        background-color: white;
        text-transform: capitalize;
        padding: 10px 15px;
        border-bottom: 2px solid black;

        &.product-price,
        &.product-quantity {
          text-align: center;
        }
      }
    }
  }

  dl.variation {
    font-size: 1em;
    font-family: $font-family-book;

    dt, dd {
      font-weight: normal;
    }
  }

  .product-thumbnail {
    img {
      width: 100%;
      max-width: 100px;
      margin: 0;
    }
  }
  
  .product-subtotal {
    text-align: right;
  }

  .product-quantity {
    .quantity {
      .qty {
        background-color: transparent;
        border: 1px solid black;
        box-shadow: none;
        color: black;
        font-family: $font-family-book;
        border-radius: 0;
      }
    }
  }

  // Cart Items
  tr.table-headers-mobile {
    table-layout: fixed;
    
    @media (min-width: $desktop) {
      display: none;
    }

    td {
      font-size: 14px;
      line-height: 1;
      letter-spacing: 0.1em;
      padding: 15px 0;
      margin: 0;
      background-color: transparent;
      font-family: $font-family-sans-serif;
      font-weight: normal;
      display: inline-block;
      width: 33%;
      text-align: left;

      &:before {
        display: none;
      }
    }

    .remove {
      text-align: right;
    }
  }

  tr.cart_item {
    @include clearfix;

    @media (min-width: $desktop) {
      display: table-row;
      font-size: 14px;
    }

    td {
      text-align: center;
      font-size: 14px;
      line-height: 1;
      letter-spacing: 0.1em;
      padding: 15px 0;
      margin: 0;
      background-color: transparent;
      font-family: $font-family-book;
      font-weight: normal;
      display: inline-block;
      vertical-align: middle;

      @media (max-width: $desktop - 1) {
        &.product-price,
        &.product-quantity,
        &.product-subtotal {
          width: 33%;
        }

        &.product-remove {
          width: 25%;
          border-top: 0;
        }

        &.product-thumbnail {
          width: 25%;
        }

        &.product-name {
          width: 50%;
          padding-left: 10px;
          padding-right: 10px;
        }
      }

      p {
        font-size: inherit;
      }

      &.product-remove {
        text-align: center;
        border-top: 0;

        .remove {
          position: relative;
          display: inline-block;

          &:before {
            display: none;
          }

          img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
        
        &--mobile {
          @media (min-width: $desktop) {
            display: none;
          }          
        }

        &--desktop {
          @media (max-width: $desktop - 1) {
            display: none;
          }
        }
      }

      &.product-name {
        vertical-align: middle;
      }

      @media (min-width: $desktop) {
        display: table-cell;
        padding: 15px;
        vertical-align: middle;

        &:nth-last-child(2) {
          td {
            border-bottom: 2px solid black;
          }
        }
      }
    }
  }

  td.actions {
    border-top: 2px solid black;
    padding-top: 15px;

    .coupon,
    .giftcard {
      @include clearfix;
      width: 100%;
      margin: 0;
      padding: 0;
      border-bottom: none;

      .input-text,
      .button {
        font-family: $font-family-book;
        font-weight: normal;
        width: 50%;
        float: left;
      }

      @media (min-width: 768px) {
        width: 33%;
      }
    }

    
    .giftcard {
      @media (min-width: 768px) {
        clear: both;
      }
    }

    .input-text,
    .button {
      font-family: $font-family-sans-serif;
      background-color: white;
      box-shadow: none;
      border: 1px solid black;
      color: black;
      border-radius: 0;
      margin-top: 1em;
      margin-bottom: 1em;
      font-size: 14px;
      padding: 0.5em;
    }

    .continue-shopping {
      display: block;
      text-align: left;
      margin-bottom: 15px;
    }
  }
}


// Subtotal
.cart-collaterals {
  @include clearfix;

  .cart_totals {
    font-family: $font-family-sans-serif;
    letter-spacing: 0.1em;
    color: black;
    font-size: 14px;
    font-weight: normal;

    td {
      @include clearfix;
      padding-left: 0;
      padding-right: 0;
      background-color: white;

      &:before {
        content: attr(data-title);
        float: left;
        margin-bottom: 0;

        @media (min-width: 768px) {
          display: none;
        }
      }
    }

    h2 {
      display: none;
    }

    .wc-proceed-to-checkout { 
      .button.checkout-button {
        font-size: 18px;
        background-color: $accent-color;
      }
    }

    .wc-forward:after, 
    .woocommerce-Button--next:after {
      display: none;
    }

    .order-total {
      color: $accent-color;
    }

    @media (min-width: 768px) {
      float: right;
      width: 33%;

      td {
        text-align: right;
      }
    }
  }
}


// Checkout Page
// Page Class
.woocommerce-checkout {
  @include clearfix;
  letter-spacing: 0.1em;
  font-size: 14px;

  .woocommerce-info {
    font-size: 1em;
    font-family: $font-family-sans-serif;
    background-color: transparent;
    color: black;
    margin-bottom: 30px;
    border-radius: 0;
    border-left: 0;
    padding: 0;
    
    a {
      color: black;
      display: inline-block;
      font-family: $font-family-book;
      font-size: 1em;
      color: $accent-color;
    }

    @media (min-width: $desktop) {
      @include span(6 of 12);
      @include clearfix;
    }
  }

  .checkout_coupon,
  .checkout_giftcard {
    .form-row {
      margin: 0;
      float: left;
      width: 50%;

      .input-text,
      .button {
        font-size: 1em;
        border: 1px solid black;
        width: 100%;
        padding: 0.3em 1em;
      }
    }

    @media (min-width: $desktop) {
      @include span(6 of 12 last);
      @include clearfix;
    }
  }

  form.checkout {
    .woocommerce-billing-fields,
    .woocommerce-shipping-fields {
      font-family: $font-family-sans-serif;
      margin-left: -10px;
      margin-right: -10px;
      letter-spacing: 0.1em;

      h3 {
        border-bottom: 2px solid black;
        font-size: 20px;
        line-height: 1;
        margin-bottom: 30px;
        padding: 10px;

        label {
          font-family: $font-family-sans-serif;
        }

        &#ship-to-different-address {
          border-bottom: none;
        }
      }

      label {
        font-family: $font-family-book;
        font-weight: normal;
        font-size: 14px;
      }

      .form-row {
        float: left;
        width: 50%;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 30px;

        &-wide,
        &#order_comments_field {
          width: 100%;
        }
      }
    }
  }
}

.woocommerce-checkout {
  #customer_details {
    .col-1 {
      margin-bottom: 0;
    }
  }
}

#payment {
  .payment_methods {
    background-color: transparent;
    font-family: $font-family-book;
    font-weight: normal;

    > li {
      background-color: transparent;
      padding: 1.41575em !important; 

      &:hover {
        background-color: transparent;
      }
    }
  }

  .terms {
    label {
      display: inline;
      font-family: $font-family-book;
      font-weight: normal;
      font-size: 14px;
    }
  }
}

// General Remove Style
a.remove:before {
  content: '\f00d';
  color: black;
}

// Cart Page
.woocommerce-cart {
  .entry-content {
    border-top: 2px solid black;
    padding-top: 0;

    @media (min-width: 768px) {
      border-top: none;
    }
  }
}

// Responsive Cart Table
table.shop_table_responsive {
  tr {
    td:before {
      content: attr(data-title);
      float: none;
      display: block;
      margin-bottom: 1em;

      @media (min-width: 768px) {
        display: none;
      }
    }

    .product-name:before {
      display: none;
    }
  }
}

// Order Page
#order_review_heading {
  border-bottom: 2px solid black;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.1em;
  padding: 10px;
}

#order_review {
  dl.variation {
    dt, dd {
      font-weight: normal;
      display: inline-block;
    }
  }

  table.cart {
    margin-bottom: 0;

    tr.cart_item {
      td.product-thumbnail,
      td.product-name {
        text-align: left;
      }
    }

    thead {
      display: none;
    }

    tbody {
      .cart_item {
        td {
          display: table-cell;

          &.product-thumbnail {
            width: 30%;

            &:before {
              display: none;
            }
          }

          &.product-name {
            width: 70%;
            padding-left: 1em;
            padding-right: 1em;

            &:before {
              display: none;
            }
          }
        }

        .product-total {
          text-align: right;
        }
      }
    }

    tfoot {
      font-size: 14px;

      tr {
        th, td {
          font-family: $font-family-sans-serif;
          padding-top: 1em;
          padding-bottom: 1em;
          display: table-cell;
        }

        th {
          width: 30%;
        }

        td {
          width: 70%;
          text-align: right;
        }
      }

      .cart-subtotal {
        th, td {
          border-top: 2px solid black;
        }
      }

      .order-total {
        color: $accent-color;
      }
    }
  }
}