label {
  font-family: $font-family-sans-serif;
  margin-bottom: 0.5em;
  letter-spacing: 0.1em;
  line-height: 1;
}

.input-text,
input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
textarea,
select {
  background-color: transparent;
  border: 1px solid black;
  box-shadow: none;
  color: black;
  font-family: $font-family-book;
  border-radius: 0;
  padding: 0.3em 1em;

  &:focus, &:active, &:focus {
    background-color: transparent;
  }
}

button {
  &:focus, &:active, &:focus {
    background-color: transparent;
  }
}

select {
  height: 1.6em;
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: 0.5em;
}

.woocommerce-error, 
.woocommerce-info, 
.woocommerce-message, 
.woocommerce-noreviews, 
p.no-comments {
  background-color: transparent;
  border: 1px solid black;
  color: black;
  border-radius: 0;
  text-align: center;
  font-family: $font-family-book;
  font-weight: normal;

  li, strong {
    font-family: $font-family-book;
    font-weight: normal;
  }
}

.woocommerce-error {
  border: 1px solid $accent-color;
  color: $accent-color;
}

.form-row.woocommerce-invalid {
  input.input-text {
    box-shadow: none;
    border-color: $accent-color;
  }
}

.woocommerce-account .button {
  @extend %button;
  @extend %button--primary;
}