.wpb_button, .wpb_content_element, 
ul.wpb_thumbnails-fluid>li {
  margin-bottom: 20px;
}

.section {
  border-bottom: 1px solid $accent-color;
  text-align: center;

  &--images {
    @include clearfix;
    border-bottom: none;

    .section__third {
      @include span(4 of 12);

      &:last-child {
        @include omega;
      }
    }

    .section__text-wrapper {
      position: relative;
      width: 100%;
      height: 0;
      margin-bottom: gutter();
      padding-bottom: 100%;
    }

    .section__text {
      position: absolute;
      width: 100%;
      padding: 15px;
      top: 50%;
      transform: translateY(-50%);
    }

    .section__image {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 0;
      width: 100%;
      margin-bottom: gutter();

      &--square {
        padding-bottom: 100%;
      }

      &--rectangle {
        padding-bottom: 150%;
      }
    }
  }

  &--press {
    @media (max-width: $desktop - 1) {
      display: none;
    }

    display: block;
    border-bottom: none;

    h4 {
      font-size: 16px;
    }

    .press-items {
      @extend %list-reset;
      text-align: center;
    }

    .press-item {
      display: inline-block;
    }
  }
  
  &__content {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  &--makers {
    h3 {
      font-size: 28px;
      margin-bottom: 30px;
    }

    .button {
      width: 240px;
    }

    .section__content {
      @media (min-width: $desktop) {
        display: table;
        table-layout: fixed;
        margin-left: -15px;
        margin-right: -15px;
      }
    }

    .section__part {
      @media (max-width: $desktop - 1) {
        &--mobile {
          @include clearfix;

          img {
            display: block;
            width: 50%;
            float: left;
          }
        }

        &--text {
          padding-top: 30px;
          padding-bottom: 30px;
        }

        &:last-child {
          display: none;
        }
      }

      @media (min-width: $desktop) {
        display: table-cell;
        vertical-align: middle;
        padding: 0 15px;

        .image-mobile {
          display: none;
        }
      }
    }  
  }
}

.home {
  .entry-header {
    display: none;
  }

  .content-area,
  .site-main,
  .hentry {
    margin-bottom: 0;
  }
}