// Site Header
// Hide extra menu on live site
.site-header-col {
  max-width: 100% !important;

  > .menu {
    display: none;
  }
}

.free-uk-shipping {
  font-family: $font-family-book;
  text-transform: uppercase;
  padding: 5px;
  letter-spacing: 0.1em;
  font-size: 10px;
  width: 100%;
  border-bottom: 1px solid black;
  text-align: center;

  @media (min-width: $desktop) {
    position: absolute;
    padding: 8px 10px;
    top: 0;
    right: 30px;
    font-size: 12px;
    display: inline-block;
    z-index: 20;
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: auto;
  }
  
  
  
}

.cart-item-count {
  font-size: 14px;
  line-height: 28px;
  vertical-align: top;
  font-family: $font-family-book;
}

button.main-toggle {
  border: none;
  text-align: center;
  float: none;
  display: inline-block !important;
  padding: 0;
  height: 30px;
  width: 30px;
  box-shadow: none;

  &:focus {
    outline: none;
  }

  span,
  &:before,
  &:after {
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    background-color: black;
    transition: all 0.2s ease-out;
    transform-origin: center;
    position: absolute;
  }

  &:before {
    transform: translateY(-8px);
  }

  &:after {
    transform: translateY(8px);
  }

  &.menu-open {
    span {
      opacity: 0;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }
}
.site-header {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0 !important;
  position: relative;
  z-index: 10;

  @media (min-width: $desktop) {
    margin-top: 15px;
  }

  .site-control--cart {
    &:hover, &:focus {
      .navigation-cart {
        display: block;
      }
    }
  }

  .site-toggle,
  .site-branding,
  .site-controls,
  .site-navigation {
    display: table-cell;
    vertical-align: middle;
    width: auto;
    float: none;
  }

  .site-branding {
    > a {
      display: block;
    }

    .site-logo {
      display: block;
      width: 100%;
      margin: 0 auto;

      @media (min-width: $desktop) {
        margin: 0;
      }
    }
  }

  // Mobile Navigation Styles
  .mobile-navigation-wrapper {
    @media (min-width: $desktop) {
      display: none;
    }

    .site-toggle,
    .site-branding,
    .site-controls,
    .site-navigation {
      vertical-align: middle;
    }

    .mobile-navigation-header {
      display: table;
      width: 100%;
      table-layout: fixed;
      white-space: nowrap;
    }

    .site-toggle,
    .site-controls {
      width: 20%;
    }

    .site-branding {
      text-align: center;
      
      a {
        display: block;
      }

      .site-logo {
        max-width: 160px;
      }
    }
  }

  // Desktop Navigation Styles
  .desktop-navigation-wrapper {
    display: none;

    @media (min-width: $desktop) {
      display: table;
      table-layout: fixed;
      width: 100%;

      .main-toggle,
      .site-branding,
      .site-controls,
      .site-navigation {
        vertical-align: bottom;
        width: auto;
        float: none;
      }

      .site-branding,
      .site-controls {
        width: 15%;
      }

      .site-branding {
        margin: 0;

        img {
          max-width: 80px;
        }
      }

      .site-navigation {
        clear: none;
        margin: 0;
        float: none;
        width: auto;
        font-size: 22px;
        text-align: center;
        line-height: 1;
      }
    }
  }
}

// Site-Controls
.site-controls {
  display: inline-block;
  text-align: right;

  .site-control {
    color: black;
    height: 22px;
    width: 40px;
    line-height: 1;
    font-size: 22px;
    text-align: center;
    display: inline-block;

    img {
      margin: 0 auto;
    }
  }
}

// Search Bar
.main-search {
  display: none;
  padding: 15px;

  @media (min-width: $desktop) {
    padding: 30px;
  }

  &__content {
    width: 100%;
    max-width: 600px;
    position: relative;
    margin: 0 auto;
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: none;
    font-size: 16px;
    background-color: transparent;
    padding: 0;
    height: 30px;
    width: 30px;
    color: black;
  }

  .woocommerce-product-search {
    margin-bottom: 0;

    &:before {
      display: none;
    }

    .search-field {
      padding-left: 0;
      font-family: $font-family-sans-serif;
      font-size: 18px;
      color: $accent-color;
      background-color: transparent;
      border: none;
      border-bottom: 2px solid black;
      box-shadow: none;
    }
  }
}


// General Navigation Styles
.site-navigation,
.mobile-links {
  .menu {
    .menu-item {
      a {
        padding-top: 1em;
        padding-bottom: 1em;
        font-size: inherit;
        letter-spacing: 0.1em;
        display: inline-block;
        line-height: 1;

        @media (min-width: $desktop) {
          padding-top: 0.5em;
          padding-bottom: 0.5em;
        }

        &:before {
          display: none;
        }
      }
    }
  }
}

// Mobile Menu Styles
.mobile-links {
  display: none;

  .menu {
    @extend %list-reset;
    text-align: left;

    .menu-item {
      position: relative;
      font-size: 18px;
    }

    .sub-toggle {
      position: absolute;
      top: 0px;
      right: -1em;
      cursor: pointer;
      text-align: center;
      outline: 0;
      background: transparent;
      font-size: 18px;
      padding: 1em;
      color: black;
    }

    .sub-menu {
      @extend %list-reset;
      margin: 0;
      display: none;

      a {
        color: $accent-color;
      }
    }
  }
}

.desktop-links {
  ul {
    @extend %list-reset;
  }

  .menu {
    > .menu-item {
      display: inline-block;
      font-size: 22px;
      
      > a {
        padding: 0 1em;
      }

      &:hover {
        > .sub-menu {
          display: block;
        }
      }

      > .sub-menu {
        @extend %list-reset;
        display: none;
        position: absolute;
        background-color: white;
        padding: 30px;
        width: 100%;
        left: 0;
        text-align: center;

        > .menu-item {
          display: inline-block;
          text-align: left;
          padding-left: 60px;
          padding-right: 60px;
          vertical-align: top;

          > a {
            font-size: 16px;
            color: $accent-color;
          }

          .menu-item {
            display: block;
            font-size: 14px;
          }
        }
      }
    }
  }
}