// .archive {
//   .site-content {
//     .col-full {
//       max-width: 100%;
//     }
//   }
// }

.woocommerce-LoopProduct-link {
  img {
    &:first-child:not(:only-of-type) {
      opacity: 1;
      transition: all 0.3s ease-out;
    }

    &:nth-child(2) {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: all 0.3s ease-out; 
    }
  }

  &:hover {
    img {
      &:first-child:not(:only-of-type) {
        opacity: 0;
      }

      &:nth-child(2) {
        opacity: 1;
      }
    }
  }
}


.woocommerce-LoopProduct-link {
  img:not:only-child {

  }
}

.lmp_load_more_button {
  a.lmp_button[style] {
    display: inline-block !important;
    font-family: $font-family-sans-serif;
    padding: 0.6em 2em !important;
    font-size: 18px !important;
    letter-spacing: 0.1em !important;
    background-color: white !important;
    color: black !important;
    border: 1px solid black !important;
  }
}

.site-main {
  > .storefront-sorting {
    display: none;
  }
}

// On the Archive Page

ul.products {
  @include clearfix;

  .archive &,
  .single-product div.product .related &,
  .storefront-full-width-content.single-product .related & {
    li.product {
      @include gallery (6 of 12);
      margin-bottom: 15px;

      @media (min-width: $desktop) {
        margin-bottom: 30px;
      }
    }

    h3, 
    .price {
      font-size: 14px !important;
      margin-bottom: 1em;
      color: black;
      letter-spacing: 0.1em;
      line-height: 1;
    }

    .button {
      display: none;
    }

    img {
      width: 100%;
      margin-bottom: 15px;
    }
  }

  .archive & {
    li.product {
      @include product-styles-3;
      margin-bottom: 15px;

      @media (min-width: $desktop) {
        margin-bottom: 30px;
      }

      .woocommerce-loop-product__title, h2, h3 {
        font-size: 14px;
      }

      img {
        margin-bottom: 15px;

        @media (min-width: $desktop) {
          margin-bottom: 30px;
        }
      }
    }
  }

  .single-product div.product .related &,
  .storefront-full-width-content.single-product .related & {
    li.product {
      @include product-styles-4;
    }
  }
}
