// Non JavaScript Fix for Load More Images
.pif-has-gallery {
  .woocommerce-LoopProduct-link {
    img {
      &:first-child {
        opacity: 1;
        transition: all 0.3s ease-out;
      }

      &.secondary-image {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: all 0.3s ease-out; 
      }
    }

    &:hover {
      img {
        &:first-child {
          opacity: 0;
        }

        &.secondary-image {
          opacity: 1;
        }
      }
    }
  }
}

.lmp_load_more_button {
  a.lmp_button[style] {
    display: inline-block !important;
    font-family: $font-family-sans-serif;
    padding: 0.6em 2em !important;
    font-size: 18px !important;
    letter-spacing: 0.1em !important;
    background-color: white !important;
    color: black !important;
    border: 1px solid black !important;
  }
}

.site-main {
  > .storefront-sorting {
    display: none;
  }
}

// On the Archive Page

ul.products {
  @include clearfix;

  .archive &,
  .single-product .related &,
  .storefront-full-width-content.single-product .related & {
    li.product {
      @include gallery (6 of 12);
    }

    h3, 
    .price {
      font-size: 14px;
      margin-bottom: 1em;
      color: black;
      letter-spacing: 0.1em;
      line-height: 1;
    }

    .button {
      display: none;
    }

    img {
      width: 100%;
      margin-bottom: 15px;
    }
  }

  .archive & {
    li.product {
      @include product-styles-3;
      font-size: 12px;
      margin-bottom: 15px;

      @media (min-width: $desktop) {
        margin-bottom: 30px;
      }

      .woocommerce-loop-product__title, h2, h3 {
        font-size: 14px;
      }

      img {
        margin-bottom: 15px;

        @media (min-width: $desktop) {
          margin-bottom: 30px;
        }
      }
    }
  }

  .single-product .related &,
  .storefront-full-width-content.single-product .related & {
    li.product {
      @include product-styles-4;
    }
  }
}
