.single-product {
  div.product {
    form.cart {
      margin-bottom: 0;
      text-align: center;
      max-width: 360px;
      display: inline-block;
    }
  }
}

.product-images-wrapper {
  margin-left: $negative-gutter-width;
  margin-right: $negative-gutter-width;

  @media (min-width: $handheld) {
    margin-left: $negative-gutter-width-large;
    margin-right: $negative-gutter-width-large;
  }

  @media (min-width: $desktop) {
    margin-left: 0;
    margin-right: 0;
  }
}

// Sourcing Details
.sourcing-details {
  @extend %list-reset;
  @include clearfix;
  text-align: center;
  white-space: normal;

  .sourcing-detail {
    font-family: $font-family-book;
    display: inline-block;
    width: 32%;
    padding: 8px;
    vertical-align: top;
    white-space: nowrap;

    &__text {
      font-size: 14px;
      line-height: 1;
      white-space: normal;
    }

    &__icon {
      padding: 5px;
      text-align: center;

      img {
        display: inline-block;
        height: 30px;
      }
    }
  }

  @media (min-width: 768px) {
    white-space: nowrap;

    .sourcing-detail {
      width: 20%;
      white-space: normal;
    }
  }
}

// WooCommerce Tabs
div.woocommerce-tabs {
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 15px;

  .after-single-product & {
    display: none;
  }

  .single-product &,
  .storefront-full-width-content & {

    ul.tabs {
      border: none;

      li {
        border: none;

        a {
          color: black;
        }
      }

      @media (min-width: 768px) {
        width: 100%;
        margin-right: 0;
        text-align: center;

        li {
          display: inline-block;
          margin-right: 1em;

          &:last-child {
            margin-right: 0;
          }

          &:after {
            content: '\f107';
            right: 0;
          }

          a {
            font-size: 14px;
            padding: 1em 1.5em 1em 0;
          }
        }
      }
    }

    .panel {
      width: 100%;
      margin: 0;
    }
  }
}

// Section with addition details for mobile
.after-single-product {
  .related {
    display: none;
  }

  @media (min-width: $desktop) {
    .related {
      display: block;
    }
  }
}

// Product Images Slider
.product-images-wrapper {
  @media (min-width: $desktop) {
    @include span (5 of 12 !important);
  }

  img {
    width: 100%;
  }

  button {
    box-shadow: none;
    color: white;
  }

  .product-images {
    margin-bottom: 30px;

    @media (min-width: $desktop) {
      margin-bottom: 10px;
    }
  }

  .product-thumbnails {
    display: none;

    @media (min-width: $desktop) {
      display: block;
      margin-left: -5px;
      margin-right: -5px;

      img {
        width: 100%;
        display: block;
      }
    }
  }

  .product-thumbnail {
    @media (min-width: $desktop) {
      cursor: pointer;
      margin: 0;
      width: 25%;
      padding-left: 5px;
      padding-right: 5px;

      &:focus,
      &:active {
        outline: none,
      }

      &.slick-current {
        img {
          border: 2px solid black;
        }
      }
    }
  }
  
  // Slick Elements
  .slick-prev,
  .slick-next {
    height: 60px;
    width: 60px;
    &:before {
      font-family: 'FontAwesome';
      font-size: 48px;
    }
  }

  .slick-prev {
    left: 0;
    z-index: 10;

    &:before {
      content: "\f104";
    }
  }

  .slick-next {
    right: 0;
    z-index: 10;

    &:before {
      content: "\f105";
    }
  }

  .slick-dots {
    bottom: 0;
    z-index: 10;

    li {
      height: 30px;
      width: 30px;

      button {
        height: 30px;
        width: 30px;

        &:before {
          height: 30px;
          width: 30px;
          color: #fff;
          font-size: 24px;
          line-height: 30px;
        }
      }
    }
  }
}



.storefront-full-width-content.single-product,
.single-product {
  div.product {
    @include clearfix;
    overflow: visible;
    text-align: center;

    .summary {
      .button {
        @extend %button--block;
      }

      .product_title,
      .price {
        font-size: 24px;
        letter-spacing: 0.1em;
        line-height: 1;
        font-family: $font-family-sans-serif;
        margin-bottom: 1em;
      }

      @media (min-width: $desktop) {
        @include span (7 of 12 last);
        margin-bottom: 0;
        padding: 30px;

        &__content {
          margin: 0 auto;
          max-width: 540px;
        }

        .related {
          display: none;
        }

        .button {
          display: inline-block;
          // width: auto;
        }
      }
    }

    .variations_form {
      text-align: center;
      margin: 0 auto;
      max-width: 360px;

      .variations {
        td {
          text-align: center;
        }

        .label {
          font-family: $font-family-book;
          padding-bottom: 5px;
          font-weight: normal;
        }

        .value {
          position: relative;

          select {
            font-family: $font-family-book;
            border-radius: none;
            border: 1px solid black;
            height: 36px;
            border-radius: 0;
            background-color: transparent;
          }

          .reset_variations {
            display: none !important;
            // color: $accent-color;
            // font-family: $font-family-book;
            // position: absolute;
            // top: 0;
            // right: 0;
            // line-height: 40px;
          }
        }
      }

      .single_variation_wrap {
        .variations_button {
          padding-top: 0;
        }
      }
    }

    .product_meta {
      display: none;
    }
  }

  .related {
    float: left;
    padding-top: 30px;
    padding-bottom: 30px;

    > h2:first-child {
      text-align: left;
      font-size: 18px;
    }
  }
}