// layout sizes
$desktop:     768px;
$handheld:      568px;
// $container-width: 1150px;

// $susy: (
//   columns: 12,
//   gutters: 1/3,
//   math: fluid,
//   output: float,
//   gutter-position: after,

//   use-custom: (
//     box-sizing: false
//     )
//   );

$font-family-sans-serif: 'relative-bold', sans-serif !important;
$font-family-book: 'relative-book', sans-serif !important;
$font-family-serif: 'romana', serif !important;
$accent-color: #fa6560;

$gutter-width: 1.41575em;
$negative-gutter-width: -1.41575em;

$gutter-width-large: 2.617924em;
$negative-gutter-width-large: 2.617924em;